* {
  margin: 0;
  padding: 0;
}

.container {
  border: 1.5px solid #d3d3d3;
  border-radius: 6px;
  padding: 20px;
  width: 480px;
  height: 600px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 25px;
  font-weight: bolder;
}

.content {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #737373;
}

span {
  color: black;
  font-weight: bold;
}

article {
  margin: 20px 0;
}

.text {
  font-size: 13px;
  color: #737373;
}

input {
  background-color: #f2f2f2;
  border-color: transparent;
  width: 96%;
  height: 35px;
  border-radius: 8px;
  margin-top: 4px;
  padding-left: 1em;
}

input[type="submit"] {
  background-color: #737373;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 640px) {
  body {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .container {
    height: auto;
  }
}
